<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geeks</title>
</head>
<body>
  
        <title>{{title}}</title>
       <img src={{image}} width="200px" height="200px" alt="" >
        <p>{{description}}</p>

        <title>{{title1}}</title>
       <img src={{image1}} width="200px" height="200px" alt="" >
        <p>{{description1}}</p>
        <title>{{title2}}</title>
       <img src={{image2}} width="200px" height="200px" alt="" >
        <p>{{description2}}</p>
        <title>{{title3}}</title>
         <img src={{image3}} width="200px" height="200px" alt="" >
        <p>{{description3}}</p>
        <title>{{title4}}</title>
         <img src={{image4}} width="200px" height="200px" alt="" >
        <p>{{description4}}</p>
        <title>{{title5}}</title>
         <img src={{image5}} width="200px" height="200px" alt="" >
        <p>{{description5}}</p>
</body>
</html>
